h1 {
    color: red;
    font-family: "Times New Roman", sans-serif;
    font-weight:bolder;
    text-align: center;
  }

h4 {
    color: orange;
    font-family: "American Typewriter", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
